<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
<h1>List All Books</h1>
<a href="/create"><button class="btn btn-success">Create</button></a>
<div></div><br>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Publisher</th>
        <th scope="col">Thumbnail</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <!--loop books into book-->
    <tr th:each="book:${books}">
        <th scope="row">[[${book.id}]]</th>
        <td th:text="${book.getTitle()}"></td>
        <td th:text="${book.getAuthor()}"></td>
        <td th:text="${book.getPublisher()}"></td>
        <td> <img style="width: 100px;height: 100px" th:src="${book.getThumbnail()}"></td>
        <td><a th:href="@{/view/{id}(id=${book.getId()})}"><button class="btn btn-success">View</button></a>
            <a th:href="@{/update/{book_id}(book_id=${book.getId()})}"><button class="btn btn-primary">Edite</button></a>
            <a href="#"><button class="btn1 btn btn-danger" th:attr="data-id=${book.getId()}">Delete</button></a>
        </td>
    </tr>
    </tbody>
</table>

<script src="js/jquery-3.3.1.slim.min.js"></script>
<script>
    $(document).ready(function () {
        $('body').on('click','.btn1',function () {
           var data_id=$(this).attr("data-id");
           if (confirm("Do you want to delte?"))
           {
               window.location="http://localhost:8085/delete/"+data_id;
           }

        });
    });
</script>
</body>
</html>